.app {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        'header header'
        'navbar content';
    gap: 10px;
}

.content {
    grid-area: content;
}
