.app {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        'header header'
        'navbar content';
    gap: 20px;
}

.header {
    grid-area: header;
    background: yellow;
}

.header img {
    height: 100%;
}

.navbar {
    grid-area: navbar;
    background: red;
}

.content {
    grid-area: content;
    background: orange;
}

.content img {
    width: 100%;
}
